<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      ChatSenac
    </ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="chats">
        Chats
      </ion-segment-button>
      <ion-segment-button value="users">
        Contatos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div [ngSwitch]="view">
    <ion-list *ngSwitchCase="'chats'">
      <button ion-item *ngFor="let c of chats | async" 
        (click)="onChatOpen(c)">
            <h2>{{c.title}}</h2>
            <p *ngIf="c.lastMessage; else customMessage">
              {{c.timestamp | date: 'dd/MM/y H:mm'}} - {{c.lastMessage}}
            </p>
            <ng-template #customMessage>
              <p>Não tem mensagem</p>
            </ng-template>
          </button>
    </ion-list>

    <ion-list *ngSwitchCase="'users'">
      <button ion-item *ngFor="let user of usuarios | async" 
        (click)="onChatCreate(user)">
        {{user.nome}}
      </button>
    </ion-list>
  </div>



</ion-content>